body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  font-family: "Courier New";
  border: none;
  background-color: rgba(255,255,255,0.7);

  border-radius: 5px;
}

.App{
  font-family: "Courier New";
  color: greenyellow;
}

.header-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.body-wrapper{

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons-wrapper{
  margin: 10px 0 0 0;
  display: flex;
  justify-content: space-evenly;
}

.title{
  margin:auto;
  margin-top: 2rem;
  font-size: 3rem;
}

.btn{
  font-size: 1.5rem;
  padding: 10px;
  width: 150px;
}

.show{
  display: flex;
}

.hide{
  display: none;
}

.content{
  margin: 20px 0 0 0;
}

.About{
  display:flex;
  width: 100%;
  padding: 10px;
  
  border-radius: 5px;
  justify-content: space-evenly;

}

.Contact{
  width: 100%;
  padding: 30px;
  display:flex;
  flex-direction: column;

  border-radius: 5px;


}

.email{
  width: 40%;
  padding: 10px;
}

.message{
  width: 50%;
  margin-top: 20px;
  line-height: 28px;
  text-overflow: clip;
  padding: 10px;
  height: 300px;
}

.send{
  margin-top: 10px;
  padding: 20px;
  width: 100px;
  border-radius: 7px;

  font-size: 1.5rem;
}