body {
  font-family: "Courier New", Arial, Helvetica, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

svg{
  width: 10rem;
  height: 10rem;
}

a{
  color: white;
}

li{
  list-style: none;
}

li:before{
  padding-right: 1.2rem;
  content: ">>";
}

.bold{
  font-weight: bold;
}

.red{
  color: red;
}

.yellow{
  color: white;
}

button{
  font-family: "Courier New";
  color: white;
  border: none;

  border-radius: 5px;
}

img{
  border: solid;
  border-color: black;
  width: 40%;
  border-radius: 20px;
}

.App{
  color: greenyellow;
}

h1{
  font-family: "Comic Sans", sans-serif;
}

h3{
  font-family: "Comic Sans", sans-serif;
}


.header-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.body-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons-wrapper{
  margin: 3rem 0 0 0;
  display: flex;
  justify-content: space-evenly;
}

.title{
  margin:auto;
  margin-top: 2rem;
  font-size: 3rem;
}

.btn{
  font-size: 1.5rem;
  padding: 10px;
  width: 150px;
}

.show{
  display: flex;
}

.hide{
  display: none;
}

.content{
  margin: 20px 0 0 0;
}

.Home{
  width: 100%;
}

.intro-wrapper{
  margin-top: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.text-wrapper{
  width: 40%;
  padding: 5rem;
  background-color: rgba(100,100,100,0.3);
}

.part{
  position:fixed;
  top:0;
  left:0;
  z-index: -1;
  width: 100%;
  height: auto;
}

.Resume{
  display:flex;
  width: 100%;
  padding: 10px;
  
  border-radius: 5px;
  justify-content: space-evenly;
}

.slight-right{
  margin-left: 2%;
  margin-right: 2%;
}

.exp-cont{
  display: flex;
  justify-content: space-between;
}

.about-bg{
  width: 100%;
}

.icon-bg{
  padding: 7rem 0 7rem 0;
  background-color: rgba(255,255,255,.2);
  width: 100%;
}

.icons-wrapper{
  display: flex;
  justify-content: space-evenly;
}

.Contact{
  width: 100%;
  padding: 30px;
  display:flex;
  flex-direction: column;

  border-radius: 5px;
}

.soc{
  width: 7rem;
}

.contact-wrapper{
  width: 100%;
  padding: 30px;
  display:flex;
  flex-direction: column;

  border-radius: 5px;
}


.socials-wrapper{
  display:flex;
  justify-content: space-evenly;

  padding: 5rem;
  background-color: rgba(255,255,255,.2);
}

.email{
  width: 40%;
  padding: 10px;
}

.message{
  width: 50%;
  margin-top: 20px;
  line-height: 28px;
  text-overflow: clip;
  padding: 10px;
  height: 300px;
}

.send{
  margin-top: 10px;
  padding: 20px;
  width: 100px;
  border-radius: 7px;

  font-size: 1.5rem;
}

@media only screen and (max-width: 1400px){
  img{
    width: 40%;
    height: 40%;
  }
  .text-wrapper{
    margin-top: 2rem;
  }
  .intro-wrapper{
    align-items: center;
  }
}

@media only screen and (max-width: 1000px){
  img{
    width: 80%;
    height: auto;
  }

  .soc{
    width: 3rem;
  }

  .socials-wrapper{
    padding: 5px;
  }

  .message{
    width: 80%;
  }

  .intro-wrapper{
    flex-direction: column;
    justify-content: center;
  }
  .text-wrapper{
    margin:auto;
    width: 90%;
    padding: 1rem;
  }

  .icon-bg{
    padding: 0;
  }

  .icons-wrapper{
    flex-wrap: wrap;
  }

  .ic{
    padding: 1rem;
  }

}