body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  font-family: "Courier New";
  color: greenyellow;
}

.header-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.body-wrapper{
  display: flex;
  justify-content: center;
}

.buttons-wrapper{
  margin: 10px 0 0 0;
  display: flex;
  justify-content: space-evenly;
}

.title{
  margin:auto;
}

.show{
  display: flex;
}

.hide{
  display: none;
}